@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Cooper Hewitt';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/cooper-hewitt/CooperHewitt-Light.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Cooper Hewitt';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/cooper-hewitt/CooperHewitt-Medium.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Cooper Hewitt';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/cooper-hewitt/CooperHewitt-Bold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Reglo';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/reglo/Reglo-Bold.woff2) format('woff2');
  }

  :root {
    --background: 247 85% 61%;
    --foreground: 166 16% 26%;
    --primary: 247 85% 61%;
    --secondary: 42 100% 46%;

    --font-cooper: 'Cooper Hewitt';
    --font-reglo: 'Reglo';
  }
}

@layer base {
  body {
    @apply flex flex-col;
    @apply bg-background text-white font-medium overflow-x-hidden min-h-screen;
  }
}
